.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #a1c91e;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: 0.5px solid #222c00;
  cursor: pointer;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: box-shadow .7s cubic-bezier(0.25, 0.45, 0.45, 0.95);

  &:hover {
    background-color: #aad12a;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  }
  
  &.google-sign-in {
    background-color: #3b79dd;
    
    &:hover {
      background-color: #4184f0;
    }
  }

}
