.collection-page {

  .title {
    margin: 80px 5vw 30px;
    font-size: 38px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-template-rows: repeat(auto-fill, 350px);
    grid-gap: 45px;
    justify-content: center;
  }

}