.cart-icon {
  position: relative;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 33px;
    height: 33px;
    fill: yellowgreen;
  }

  .item-count {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    bottom: 8px;
  }
}