*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Open Sans Condensed";
    color: #4a4a4a;
}

body {
    padding: 30px 5vw 80px;
    background-color: #F9FAFB;
}

a {
    text-decoration: none;
}